<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %L %M - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="/usr/local/logs/yougereport.log"
			filePattern="/usr/local/logs/$${date:yyyy-MM}/yougereport-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="50 MB" />
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="com.smartbox" level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
		<logger name="druid.sql.Statement" level="debug" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
		
		<logger name="com.google.code.yanf4j" level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
		<logger name="net.rubyeye.xmemcached" level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
		<logger name="com.atomikos.datasource.pool.ConnectionPool" level="info" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</logger>
		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>
	</loggers>
</configuration>  